body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-post-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #333;
}

.post-content {
    padding: 20px;
}

.post-title {
    margin: 0 0 10px;
    color: black;
}

.post-excerpt {
    margin: 10px 0;
    color: #667;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: darkblue;
}
